.partners {
  background: #F4F5F5;
  color: #1A1B1E;
  padding: 88px 0px;
  width: 100%;
}

.partners__container {
  max-height: 537px;
  width: 100%;
  }

.partners__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 99px;
  margin-left: 35px;
  }  

.partners__list {
  display: flex;
  /*flex-wrap: wrap;
  justify-content: flex-start;*/
}

.partners__list--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.partners__list--bottom {
  display: flex;
  justify-content: space-between;
}

.partners__item {
  margin-left: 15px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 270px;
  height: 55px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: none;
}

.partners__link--short {
  width: 185px;
}