.reviews {
  column-count: 2;
  column-gap: 27px;
  padding-top: 98px;
  padding-bottom: 93px;
  min-width: 557px;
  min-height: 980px;
}

.reviews__item {
  margin-bottom: 17px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 32px;
  background-color: #F4F5F5;
  border-radius: 5px;
}

.review__header {
  display: flex;
  align-items: center;
  padding-bottom: 27px;
  padding-left: 28px;
}

.review__user {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #1A1B1E;
  margin-bottom: 3px;
}

.review__user:hover {
  color: #2E77A4;
  text-decoration: underline;
  transition: .3s;
  cursor: pointer;
}

.review__user:after {
  content: url("../../img/vk-blue.png");
  height: 37px;
}

.avatar {
  width: 142px;
  height: 142px;
  overflow: hidden;
}

.review__userdata {
  margin-left: 22px;
  margin-bottom: 23px;
}

.review__tag {
  max-width: 182px;
  height: 37px;
  border-radius: 35px;
  padding: 9px 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #303030;
  background-color: #E7E7E7;
  text-align: center;
}

.review__tag--green {
  background-color: #B9EAE4;
}

.review__content {
  padding-left: 31px;
  padding-right: 31px;
}

.review__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #1A1B1E;
  margin-bottom: 13px;
}

.review__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 48.5px;
}

.review__date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #1A1B1E;
}

.separator {
  background: url("../../img/Rectangle.jpg") center no-repeat;
  min-height: 363px;
  display: flex;
  justify-content: center;
  position: relative;
}

.separator__content {
  max-width: 50%;
  display: inline-flex;
}

.separator__banner {
  position: absolute;
  flex-wrap: wrap;
  text-align: left;
}

.separator__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  margin-top: 115px;
}

.separator__img {
  position: absolute;
  height: 100%;
  margin-left:630px;
  bottom: -22px;
}

.feedback--grey {
  background-color: #F4F5F5;
  height: 799px;
}

.feedback__container {
  padding-top: 62px;
  padding-bottom: 96px;
}

.feedback__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
  margin-bottom: 57px;
}

.form__row {
  display: flex;
  margin-bottom: 26px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 19px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
}

.form__input:hover {
  border: 1px solid #F5170E;
  cursor: pointer;
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input--textarea {
  height: 235px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.form__controls {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.form__controls-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1A1B1E;
  width: 365px;
  margin-top: 34px;
  margin-right: 74px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}

.controls__item {
  margin-bottom: 9px;
  margin-right: 14px;
}

.controls__item:last-child {
  margin-right: 0; 
}

.controls__item--right {
  margin-right: 0;
}

.controls__elem {
  cursor: pointer;
}

.tag {
  height: 37px;
  min-width: 80px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding: 9px 15px;
  background:#E7E7E7;
  color: #303030;
  border-radius: 35px;
  text-align: center;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.button--color--black {
  background: #8E8E8E;
}

.button--color--black:hover  {
  background-color: #2B2B2B;
  transition: .3s;
  cursor: pointer;
  }

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 17px;
}

.form__button:last-child {
  margin-right: 0;
}